* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}

.basic-card {
  border: 2px solid black;
  width: 400px;
  background-color: antiquewhite;
}

.header {
  background-color: yellow;
  width: 100%;
  height: auto;
}

.header-cnt-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-backgroung-image {
  width: 100%;
}

.header-avatar-image {
  width: 100px;
  position: absolute;
  bottom: -30px;
  border-radius: 50%
}

.main {
  padding: 10px;
}

.main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.main-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-name a {
  text-decoration: none
}

.main-description{
  margin-top: 20px;
  text-align: center;
}

.main-buttom{
  margin-top: 30px;
}
}
.footer-datafolowers {
  display: flex;
  justify-content: space-evenly;
}
